.productsGroup {
    background-color: rgb(104, 104, 146);
}

.productsCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}
