.productsGroup {
    background-color: rgb(104, 104, 146);
}

.productsCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 1050px) {
    .productsCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
    }
}
