.product {
    width: 20em;
    height: 22em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productImage {
    position: relative;
    max-width: 9em;
    width: 7em;
    height: 7em;
}

.headline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.categoryPrice {
    display: flex;
    background: bisque;
    justify-content: space-around;
}

.category {
}

.price {
}
