.product {
    background-color: aqua;
    width: 20em;
    height: 22em;
}

.productImage {
    position: relative;
    width: 100%;
    height: auto;
}

.headline {
}

.productDescription {
}

.categoryPrice {
    display: flex;
    background: bisque;
    justify-content: space-around;
}

.category {
}

.price {
}
